.h1poke {
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
}

.containercard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.card {
  display: flex;
  margin: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #58789A;
  border: 2px solid black;
  border-radius: 22px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 23px;
}

.imagepokemon {
  margin: 2px;
  background-color: #DAE1E9;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
}

.buttonpokemon {
  background-color: #DAE1E9;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.type {
  padding: 0.4em 0.6em;
  background-color: black;
  margin-right: 0.5em;
  border-radius: 6px;
  text-transform: uppercase;
}

.type_All {
  background-color: rgb(255, 255, 255);
}

.type_Normal {
  background-color: #aa9;
}

.type_Fire {
  background-color: #f42;
}

.type_Water {
  background-color: #39f;
}

.type_Electric {
  background-color: #fc3;
}

.type_Grass {
  background-color: #7c5;
}

.type_Ice {
  background-color: #6cf;
}

.type_Fighting {
  background-color: #b54;
}

.type_Poison {
  background-color: #a59;
}

.type_Ground {
  background-color: #db5;
}

.type_Flying {
  background-color: #89f;
}

.type_Psychic {
  background-color: #f59;
}

.type_Bug {
  background-color: #ab2;
}

.type_Rock {
  background-color: #ba6;
}

.type_Ghost {
  background-color: #66b;
}

.type_Dragon {
  background-color: #76e;
}

.type_Dark {
  background-color: #754;
}

.type_Steel {
  background-color: #aab;
}

.type_Fairy {
  background-color: #e9e;
}

.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_electric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}