.h1poke {
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
}

.containercard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  margin: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #58789A;
  border: 2px solid black;
  border-radius: 20px;
}

.imagepokemon {
  margin: 2px;
  background-color: #DAE1E9;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}